<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunfei.cultural.mapper.TCulturalFamousHtMapper">
  <resultMap id="BaseResultMap" type="com.yunfei.cultural.entity.TCulturalFamousHt">

    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="profession_code" jdbcType="VARCHAR" property="professionCode" />
    <result column="representative_works" jdbcType="VARCHAR" property="representativeWorks" />
    <result column="resume" jdbcType="VARCHAR" property="resume" />
    <result column="lifetime" jdbcType="VARCHAR" property="lifetime" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="head_url" jdbcType="VARCHAR" property="headUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, area_code, sex, age, profession_code, representative_works, resume, lifetime,
    job,create_time,update_time,head_url
  </sql>

  <select id="selectById" parameterType="java.lang.Integer"  resultType="com.yunfei.cultural.model.vo.CulturalFamousHtResult">
    select
        t.id as id,t.name as name,p.profession_name as professionName,a.area_name as area,
    t.sex as sex,t.age as age,t.representative_works as representativeWorks,t.resume as resume,t.lifetime as lifetime,
    t.job as job,t.head_url as headUrl
    from t_cultural_famous_ht t
    left join t_profession p on t.profession_code=p.profession_code
    left join t_area a on t.area_code=a.area_code
    where t.id=#{id}
  </select>

  <select id="selectByParams" parameterType="java.util.Map" resultType="com.yunfei.cultural.model.vo.CulturalFamousHtResult">
    select
        t.id as id,t.name as name,p.profession_name as professionName,a.area_name as area,
    t.sex as sex,t.age as age,t.representative_works as representativeWorks,t.resume as resume,t.lifetime as lifetime,
    t.job as job,t.head_url as headUrl
    from t_cultural_famous_ht t
    left join t_profession p on t.profession_code=p.profession_code
    left join t_area a on t.area_code=a.area_code
    where 1=1
    <if test="name!=null and name!=''">
      and t.name like CONCAT('%',#{name},'%')
    </if>
    <if test="areaName!=null and areaName!=''">
      and a.area_name like CONCAT('%',#{areaName},'%')
    </if>
    <if test="sex!=null and sex!=''">
      and t.sex =#{sex}
    </if>
    <if test="age!=null and age!=''">
      and t.age =#{age}
    </if>
    <if test="profession!=null and profession!=''">
      and p.profession_name like CONCAT('%',#{profession},'%')
    </if>
    <if test="representativeWorks!=null and representativeWorks!=''">
      and p.representative_works like CONCAT('%',#{representativeWorks},'%')
    </if>
    <if test="resume!=null and resume!=''">
      and p.resume like CONCAT('%',#{resume},'%')
    </if>
    <if test="job!=null and job!=''">
      and p.job like CONCAT('%',#{job},'%')
    </if>
  </select>

  <select id="countAll" resultType="java.lang.Integer">
    select count(1) from t_cultural_famous_ht
  </select>

  <update id="saveOrUpdateBitch">
    <foreach collection="list" index="index" item="item" separator=";">
      INSERT INTO t_cultural_famous_ht
      (id, name, area_code,
      sex, age, profession_code,
      representative_works, resume, lifetime,
      job,create_time,update_time,head_url)
      VALUES
      (#{item.id},#{item.name},#{item.areaCode},#{item.sex},#{item.age},#{item.professionCode},#{item.representativeWorks},#{item.resume},#{item.lifetime},#{item.job}
      ,now(),now(),#{item.headUrl})
      ON DUPLICATE KEY UPDATE
      name=#{item.name},area_code=#{item.areaCode},sex=#{item.sex},age=#{item.age},profession_code=#{item.professionCode}
      ,representative_works=#{item.representativeWorks},resume=#{item.resume},lifetime=#{item.lifetime},job=#{item.job}
      ,update_time=now(),head_url=#{item.headUrl}
    </foreach>
  </update>
</mapper>