<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunfei.cultural.mapper.TCulturalOrganMapper">
  <resultMap id="BaseResultMap" type="com.yunfei.cultural.entity.TCulturalOrgan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="resume" jdbcType="VARCHAR" property="resume" />
    <result column="set_up_time" jdbcType="VARCHAR" property="setUpTime" />
    <result column="possess_by" jdbcType="VARCHAR" property="possessBy" />
    <result column="Incumbent" jdbcType="VARCHAR" property="incumbent" />
    <result column="nature" jdbcType="VARCHAR" property="nature" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, resume, set_up_time, possess_by, Incumbent, nature, pic_url, create_time,
    update_time
  </sql>

  <update id="saveOrUpdateBitch">
    <foreach collection="list" index="index" item="item" separator=";">
      INSERT INTO t_cultural_organ
      (id, name, resume,
      set_up_time, possess_by, incumbent,
      nature,pic_url,create_time,update_time)
      VALUES
      (#{item.id},#{item.name},#{item.resume},#{item.setUpTime},#{item.possessBy},#{item.incumbent},#{item.nature},#{item.picUrl},now(),now())
      ON DUPLICATE KEY UPDATE
      name=#{item.name},resume=#{item.resume},set_up_time=#{item.setUpTime},possess_by=#{item.possessBy},incumbent=#{item.incumbent}
      ,nature=#{item.nature},pic_url=#{item.picUrl},update_time=now()
    </foreach>
  </update>

  <select id="selectByParams" parameterType="java.util.Map" resultType="com.yunfei.cultural.model.vo.CulturalOrganResult">
    select
    t.id,t.name,t.resume,t.set_up_time,t.possess_by,t.incumbent,t.pic_url,d.label as nature
    from t_cultural_organ t
    left join t_dict d on (t.nature=d.`value` and d.type='organ_nature')
    where 1=1
    <if test="name!=null and name!=''">
      and t.name like CONCAT('%',#{name},'%')
    </if>
    <if test="nature!=null and nature!=''">
      and d.label like CONCAT('%',#{nature},'%')
    </if>
    <if test="setUpTime!=null and setUpTime!=''">
      and t.setUpTime like CONCAT('%',#{setUpTime},'%')
    </if>
    <if test="incumbent!=null and incumbent!=''">
      and t.incumbent like CONCAT('%',#{incumbent},'%')
    </if>
    <if test="possessBy!=null and possessBy!=''">
      and t.possessBy like CONCAT('%',#{possessBy},'%')
    </if>
    <if test="resume!=null and resume!=''">
      and t.resume like CONCAT('%',#{resume},'%')
    </if>
    <if test="pageNo!=null and pageNo!=''">
      LIMIT ${(pageNo-1)*3},3
    </if>
  </select>

  <select id="selectById" parameterType="java.lang.Integer"  resultType="com.yunfei.cultural.model.vo.CulturalOrganResult">
    select
      t.id,t.name,t.resume,t.set_up_time,t.possess_by,t.incumbent,t.pic_url,d.label as nature
    from t_cultural_organ t
           left join t_dict d on (t.nature=d.`value` and d.type='organ_nature')
    where t.id=#{id}
  </select>

  <select id="countGroupByNature" resultType="com.yunfei.cultural.model.vo.DataCountResult$Cell">
    SELECT
      d.label,count(t.nature = d.`value` OR NULL) as num
    FROM t_dict d
           LEFT JOIN t_cultural_organ t ON t.nature = d.`value`
    where d.type = 'organ_nature'
    GROUP BY
      d.label
  </select>

  <select id="countAll" resultType="java.lang.Integer">
    select count(1) from t_cultural_organ
  </select>
</mapper>