<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunfei.cultural.mapper.TCulturalItemMapper">
  <resultMap id="BaseResultMap" type="com.yunfei.cultural.entity.TCulturalItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="organizer" jdbcType="VARCHAR" property="organizer" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="resume" jdbcType="VARCHAR" property="resume" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, organizer, time, area_code, resume, pic_url, create_time, update_time
  </sql>

  <update id="saveOrUpdateBitch">
    <foreach collection="list" index="index" item="item" separator=";">
      INSERT INTO t_cultural_item
      (id, name, organizer,
      time, area_code, resume,
      pic_url,create_time,update_time)
      VALUES
      (#{item.id},#{item.name},#{item.organizer},#{item.time},#{item.areaCode},#{item.resume},#{item.picUrl},now(),now())
      ON DUPLICATE KEY UPDATE
      name=#{item.name},organizer=#{item.organizer},time=#{item.time},area_code=#{item.areaCode},resume=#{item.resume}
      ,pic_url=#{item.picUrl},update_time=now()
    </foreach>
  </update>
</mapper>